img {
    width: 300px;
}
body {
    background-img: url(https://img.pikbest.com/wp/202344/eerie-creepy-halloween-vibe-black-concrete-wall-with-a-dark-scary-background_9900247.jpg!w700wp);
}
p {
    color: white;
}
.main{
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: black;
}

