img {
    width: 300px;
}
body {
    background-image: url(background.jpg);
}
p {
    color: white;
    font-family: Impact;
    animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: 100000;
}
.main{
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: black;
}
@keyframes colorchange {
    from{color: black; }
    to{color: white; }
  }

